version: 3.0.{build}
image: Visual Studio 2017
before_build:
- ps: nuget restore ecencryptdotnet.sln
build:
  verbosity: minimal
# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true
shallow_clone: true 